.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 100px; /* 헤더의 높이에 따라 조절해야 할 수도 있습니다 */
}

.CalculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px; /* 헤더의 높이에 따라 조절해야 할 수도 있습니다 */
}

.HistoryContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  height: 100%;
  padding: 10px;
  background-color: rgba(218, 224, 199, 0.185);
  overflow-y: auto;
}

.History {
  font-size: 18px;
  margin-bottom: 5px;
}

.InputBar {
  width: 80%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(34, 35, 30, 0.514);
}

.ButtonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.Button {
  width: 80px;
  height: 80px;
  font-size: 18px;
  border-radius: 40px; /*버튼 4방향 곡률 조정*/
}

.ZeroButton {
  grid-column: span 2;
  width: 170px;
}

.CalButton {
  background-color: #ff9800;
  color: #fff;
}
